<launch>
	<param name="isMoveBase" value="true" />
	
	<group ns="robot_0">
		<remap from="Coordinator/PointsListString" to="WaypointNavigation/PointsListString" />
		<remap from="Coordinator/targetEstimations" to="PTrackingBridge/targetEstimations" />
		<remap from="LaserScanDetector/scan" to="scan" />
		<remap from="PTrackerROS/scan" to="scan" />
		<remap from="PTrackerROS/objectDetected" to="LaserScanDetector/objectDetected" />
		<remap from="WaypointNavigation/Results" to="move_base/result" />
		
		<remap from="PTrackerROS/base_pose_ground_truth" to="base_pose_ground_truth" />
		<remap from="WaypointNavigation/base_pose_ground_truth" to="base_pose_ground_truth" />
		<!--
		<remap from="PTrackerROS/base_pose_ground_truth" to="amcl_pose" />
		<remap from="WaypointNavigation/base_pose_ground_truth" to="amcl_pose" />
		-->
		<node name="WaypointNavigation" pkg="WaypointNavigation" type="WaypointNavigation">
			<param name="agentId" value="0"/>
			<param name="pathFilename" value="$(find WaypointNavigation)/config/paths/robot_0.path"/>
		</node>
		
		<node pkg="LaserScanDetector" name="LaserScanDetector" type="LaserScanDetector">
			<param name="agentId" value="0" />
			<param name="numberOfRobots" value="3" />
			<param name="maxReading" value="20" />
			<param name="groundtruthDir" value="$(find LaserScanDetector)/groundtruth"/>
		</node>
		
		<node name="PTrackingBridge" pkg="PTrackingBridge" type="PTrackingBridge">
			<param name="agentPort" value="11001"/>
		</node>
		
		<node name="Coordinator" pkg="Coordinator" type="Coordinator">
			<param name="agentId" value="1" />
		</node>
		
		<node pkg="PTrackerROS" name="PTrackerROS" type="PTrackerROS">
			<param name="agentId" value="1" />
			<param name="numberOfRobots" value="3" />
			<param name="maxReading" value="20" />
		</node>
	</group>
</launch>
