<launch>
	<group ns="robot_1">
		<remap from="LaserScanDetector/base_pose_ground_truth" to="base_pose_ground_truth" />
		<remap from="LaserScanDetector/scan" to="scan" />
		<remap from="PTrackerROS/base_pose_ground_truth" to="base_pose_ground_truth" />
		<remap from="PTrackerROS/scan" to="scan" />
		<remap from="PTrackerROS/objectDetected" to="LaserScanDetector/objectDetected" />
		<remap from="WaypointNavigation/base_pose_ground_truth" to="base_pose_ground_truth" />
		<remap from="WaypointNavigation/Results" to="move_base/result" />
		
		<node name="WaypointNavigation" pkg="WaypointNavigation" type="WaypointNavigation">
			<param name="agentId" value="1"/>
			<param name="pathFilename" value="$(find WaypointNavigation)/config/paths/robot_1.path"/>
		</node>
		
		<node pkg="LaserScanDetector" name="LaserScanDetector" type="LaserScanDetector">
			<param name="agentId" value="1" />
			<param name="numberOfRobots" value="2" />
			<param name="maxReading" value="20" />
		</node>
		
		<node pkg="PTrackerROS" name="PTrackerROS" type="PTrackerROS">
			<param name="agentId" value="2" />
			<param name="numberOfRobots" value="2" />
			<param name="maxReading" value="20" />
		</node>
	</group>
</launch>
