<launch>
	<arg name="robot_name" default="robot1" />
	<arg name="agentId" default="1"/>
	<arg name="map_name"  default="DIAG_B1"/>
	<arg name="init_x" default="18.0" />
	<arg name="init_y" default="2.0" />
	<arg name="init_a" default="0.0" />
	<arg name="init_cov" default="0.25" />
	<arg name="single_robot" default="false"/>
	<param name="isMoveBase" value="true"/>
	
	<group if="$(arg single_robot)">
		<param name="robot_name" value="$(arg robot_name)"/>
		<param name="emergency_stop" type="int" value="0" />
		
		<include file="$(find PTrackerROS)/launch/Map.launch">
			<arg name="map_name" value="$(arg map_name)" />
		</include>
		
		<include file="$(find PTrackerROS)/launch/Stage.launch">
			<arg name="map_name" value="$(arg map_name)" />
		</include>
	</group>
	
	<group ns="$(arg robot_name)">
		<param name="robot_name" value="$(arg robot_name)" />
		<param name="tf_prefix" value="$(arg robot_name)" />
		
		<remap from="LaserScanDetector/scan" to="scan" />
		<remap from="PTrackerROS/scan" to="scan" />
		<remap from="PTrackerROS/objectDetected" to="LaserScanDetector/objectDetected" />
		<remap from="PTrackingBridge/targetEstimations" to="Coordinator/targetEstimations" />
		<remap from="WaypointNavigation/CommandLoad" to="Coordinator/commandLoad" />
		<remap from="WaypointNavigation/Results" to="move_base/result" />
		<remap from="WaypointNavigation/PointsListString" to="Coordinator/PointsListString" />
		
		<remap from="Coordinator/base_pose_ground_truth" to="base_pose_ground_truth" />
		<remap from="PTrackerROS/base_pose_ground_truth" to="base_pose_ground_truth" />
		<remap from="WaypointNavigation/base_pose_ground_truth" to="base_pose_ground_truth" />
		<!--
		<remap from="PTrackerROS/base_pose_ground_truth" to="amcl_pose" />
		<remap from="WaypointNavigation/base_pose_ground_truth" to="amcl_pose" />
		-->
		
		<!-- AMCL -->
		<node pkg="amcl" type="amcl" name="amcl" respawn="true">
			<remap from="static_map" to="/static_map" />
			
			<!-- Default parameters -->
			<rosparam file="$(find WaypointNavigation)/config/localization/amcl.yaml" command="load" />
			
			<!-- Override AMCL Frame Params to include prefix -->
			<param name="base_frame_id" value="/$(arg robot_name)/base_link"/>
			<param name="odom_frame_id" value="/$(arg robot_name)/odom"/>
			<param name="global_frame_id" value="/map"/> <!--common map frame for all robots -->
			
			<param name="initial_pose_x" value="$(arg init_x)" />
			<param name="initial_pose_y" value="$(arg init_y)" />
			<param name="initial_pose_a" value="$(arg init_a)" />
			<param name="initial_cov_xx" value="0.25" />
			<param name="initial_cov_yy" value="0.25" />
			<param name="initial_cov_aa" value="0.25" />
		</node>
		
		<!-- MOVE BASE -->
		<node pkg="move_base" type="move_base" respawn="false" name="move_base_node" output="screen">
			<remap from="map" to="/map" />
			<remap from="odom" to="odom" />
			<!--remap from="cmd_vel" to ="desired_cmd_vel" /-->
			
			<rosparam file="$(find WaypointNavigation)/config/navigation/move_base_params.yaml" command="load" />
			<rosparam file="$(find WaypointNavigation)/config/navigation/costmap_common_params.yaml" command="load" ns="global_costmap" />
			<rosparam file="$(find WaypointNavigation)/config/navigation/costmap_common_params.yaml" command="load" ns="local_costmap" />
			<rosparam file="$(find WaypointNavigation)/config/navigation/local_costmap_params.yaml" command="load" />
			<rosparam file="$(find WaypointNavigation)/config/navigation/global_costmap_params.yaml" command="load" />
			<rosparam file="$(find WaypointNavigation)/config/navigation/base_local_planner_params.yaml" command="load" />
			
			<!-- Override MOVE_BASE Frame Params to include prefix -->
			<param name="global_costmap/laser_scan_sensor/sensor_frame" value="/$(arg robot_name)/base_laser_link"/>
			<param name="global_costmap/laser_scan_sensor/topic" value="/$(arg robot_name)/scan"/>
			<param name="global_costmap/robot_base_frame" value="/$(arg robot_name)/base_link"/>   
			<param name="local_costmap/global_frame" value="/$(arg robot_name)/odom"/>
			<param name="local_costmap/laser_scan_sensor/sensor_frame" value="/$(arg robot_name)/base_laser_link"/>
			<param name="local_costmap/laser_scan_sensor/topic" value="/$(arg robot_name)/scan"/>
			<param name="local_costmap/robot_base_frame" value="/$(arg robot_name)/base_link"/>
		</node>
		
		<node name="WaypointNavigation" pkg="WaypointNavigation" type="WaypointNavigation"> 
			<param name="agentId" value="$(arg agentId)"/>
			<param name="pathFilename" value="$(find WaypointNavigation)/config/paths/robot_0.path"/> 
		</node>
		
		<node pkg="LaserScanDetector" name="LaserScanDetector" type="LaserScanDetector">
			<param name="agentId" value="$(arg agentId)" />
			<param name="numberOfRobots" value="3" />
			<param name="maxReading" value="20" />
			<param name="groundtruthDir" value="$(find LaserScanDetector)/groundtruth"/>
		</node>
		
		<node name="PTrackingBridge" pkg="PTrackingBridge" type="PTrackingBridge">
			<param name="agentPort" value="11002"/>
		</node>
		
		<node name="Coordinator" pkg="Coordinator" type="Coordinator">
			<param name="agentId" value="2" />
		</node>
		
		<node pkg="PTrackerROS" name="PTrackerROS" type="PTrackerROS">
			<param name="agentId" value="2" />
			<param name="numberOfRobots" value="3" />
			<param name="maxReading" value="20" />
		</node>
		
		<node name="link_broadcaster_2" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 /$(arg robot_name)/base_link /$(arg robot_name)/base_frame 0.2" />
	</group>
</launch>
